<input class="form-control" type="text" name="username" placeholder="E-mail Address" required>
<input class="form-control" type="password" name="password" placeholder="Password" required>
<div class="form-button">
<button id="submit" type="submit" class="ibtn">Login</button> <a href="/users/forgot">Forget password?</a>
</div>