<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MRK - fan base</title>
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/fontawesome-all.min.css">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link rel="stylesheet" type="text/css" href="/css/form.css">
</head>
<body>
    <div class="form-body">
        <div class="website-logo">
            <a href="/views/index">
                <div class="logo">
                    <img class="logo-size" src="images/logo.png" alt="">
                </div>
            </a>
        </div>
        <div class="row">
            <div class="img-holder">
                <div class="bg"></div>
                <div class="info-holder">
                    <img src="/images/mkrfanbase.png" alt="login image">
                </div>
            </div>
            <div class="form-holder">
                <div class="form-content">
                    <div class="form-items">
                        <h3>Be reMRKable!</h3>
                        <p>Hella cheesy dude.</p>
                        <div class="page-links">
                            <a href="/users/login" class="active">Login</a><a href="/users/register">Register</a>
                        </div>
                        <form action="/users/login">
                              {{{body}}}
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
<script src="/js/jquery.min.js"></script>
<script src="/js/popper.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/main.js"></script>
</body>
</html>
